<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<h3><%= _("Merge Articles")%></h3>
<%= form_for :params, :url => merge_articles_path(@article) do |f| %>
    <p>
      <%= f.text_field :sender_id, :value => 'Article ID', :id => 'Article ID' %>
      <%= submit_tag 'Merge' %>
    </p>
<% end %>